{% extends 'base.html' %}    
    
{% block header %}
    <h1>Mental Health Tracker</h1>
{% endblock header %}

{% block content %}
    <h5>NPM: </h5>
    <p>{{ npm }}</p>
    <h5>Name: </h5>
    <p>{{ name }}</p>
    <h5>Class: </h5>
    <p>{{ class }}</p> 

    <hr>

    <h5>Last login: {{ last_login }}</h5>

    <hr>

    {% if not mood_entries %}
        <p>No mood entry has been created</p>
    {% else %}
    <table>
        <tr>
            <td><h3>Mood Entries:</h5></td>
        </tr>
        <tr>
            <td>Mood</td>
            <td>Time</td>
            <td>Feelings</td>
            <td>Mood Intensity</td>
            <td></td>
        </tr>
        
        {% for mood_entry in mood_entries %}
            <tr>
                <td>{{ mood_entry.mood }}</td>
                <td>{{ mood_entry.time }}</td>
                <td>{{ mood_entry.feelings }}</td>
                <td>{{ mood_entry.mood_intensity }}</td>
                <td><a href="{% url 'main:edit-mood-entry' mood_entry.pk %}"><button>Edit</button></a></td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
    
    <button class="hyperlink" data-href="{% url 'main:create-mood-entry' %}">Create mood entry</button>
    <button class="hyperlink" data-href="{% url 'main:log-out' %}">Log out</button>
{% endblock content %}

{% block script %}
    <script>
        let buttons = document.querySelectorAll('.hyperlink');
        buttons.forEach(function(button){
            let dataHref = button.getAttribute('data-href')    
            button.addEventListener('click', function(){
                window.location.href = dataHref;
            })
        })
    </script>
{% endblock script %}
    